
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    width: 350px;
    height: 270px;

}

.display {
    box-shadow: 0 0 5px 0px black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
   
  
}

button {
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 10px;
    position: relative;
    font-size: 40px;
    padding: 0 15px;
    
}
button:hover{
    scale: 1.1;
    cursor: pointer;
}
